* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-login {
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(71, 71, 206), rgb(104, 104, 173));
}

.container-login form {
    width: 500px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
}